/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5238DF;
  --ifm-color-primary-dark: #322772;
  --ifm-color-primary-darker: #342875;
  --ifm-color-primary-darkest: #271e57;
  --ifm-color-primary-light: #3c2e8a;
  --ifm-color-primary-lighter: #423393;
  --ifm-color-primary-lightest: #4b39a9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5238DF;
  --ifm-color-primary-dark: #322772;
  --ifm-color-primary-darker: #342875;
  --ifm-color-primary-darkest: #271e57;
  --ifm-color-primary-light: #3c2e8a;
  --ifm-color-primary-lighter: #423393;
  --ifm-color-primary-lightest: #4b39a9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
